
body, input {
    font-size: 15px;
}

a {
	text-decoration: none;
}

.md-button {

	&:not(.md-mini) {
		padding-left: 10px;
		padding-right: 10px;
	}

}


.md-dialog-container {
    position: fixed;
}

md-dialog-actions .md-button.md-button-primary {

	background: transparent;
	box-shadow: none;

	&:active, &:focus, & {
	    background: transparent;
	}
	
	&:hover {
	    background: rgba(158,158,158,0.2);
	    opacity: 1;
	}
}


md-datepicker-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0 42px 0;
    vertical-align: middle;

    .md-button.md-icon-button {
	    margin-top: 9px;
	    margin-right: 12px;
    }

    .md-datepicker-input-container {
    	padding-bottom: 0;
    	margin-left: 0;
    	border: 0;
    }

	.md-datepicker-expand-triangle {   
	    border-right: 7px solid transparent;
    	border-top: 8px solid;
    	border-left: 7px solid transparent;
	}

    label {
    	display: block;
		-webkit-transform: translate3d(0, 6px, 0) scale(0.75);
		transform: translate3d(0, 6px, 0) scale(0.75);
	    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
	    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
	    -webkit-transform-origin: left top;
	    transform-origin: left top;
		position: absolute;
	    bottom: 100%;
	    left: 0;
	    right: auto;   
	    white-space: nowrap;
	    padding-left: 3px;
	    color: rgba(0,0,0,0.54);
    }

    input.md-datepicker-input {
    	font-size: inherit;
	    height: 30px;
	    line-height: 30px;
	    outline-offset: 0;
	    border-bottom: 1px solid rgba(0,0,0,0.12);
    }

   	.md-datepicker-focused {
	   	input {
	    	border-bottom: 2px solid rgb(158,158,158);
	    }
    }    


    button.md-datepicker-button {
    	display: none;
    }
}

md-checkbox-container,
md-radiobutton-container {

	margin-bottom: 29px;
	margin-top: 0px;

	label {
	    transform-origin: left;
	    -webkit-transform: scale(0.75);
	    transform: scale(0.75);
	    color: rgba(0,0,0,0.54);
	    margin-bottom: 1.5px;
	    display: block;
	}
}


fs-heading {
    color: #272727;
    font-size: 20px;
    height: 36px;
    display: block;
    vertical-align: middle;
    position: relative;
    line-height: 36px;
    margin-bottom: 10px;
}

fs-heading fs-heading-actions {
    position: absolute;
    right: 0;
}

fs-heading fs-heading-actions .md-button {
    margin: 0;
}

md-dialog {
	max-width: 1100px;
}

md-select:not([disabled]):focus .md-select-value {
	padding-bottom: 2px;
}

hr { 
    border: 1px solid #D0D0D0;
    border-bottom: 0; 
}

md-input-container, md-checkbox-container, md-datepicker-container, md-radiobutton-container {
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}

md-input-container {

    box-sizing: content-box;
    margin: 18px 0;
    padding: 2px;
    min-height: 54px;

    &[flex],
    &[class~="flex"]
    &[class|="flex"] {
        // because flex changes its display from block to flex and its box-sizing from content-box to border-box
        min-height: 58px;
    }

    &.md-block {
        display: block;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    // icon offset should have higher priority as normal label
    &.md-has-icon {
        padding-left: 2px;

        > label {
            left: 0px;
        }
    }

    &.md-icon-float {

    }

    &.md-icon-left {
        padding-left: 28px;
        padding-right: 2px;

        > label {
            left: 27px;
        }
    }

    &.md-icon-right {
        padding-left: 2px;
    }

    > md-icon {
        color: rgba(0,0,0,0.57);
    }

    .hint {
        font-size: 12px;
    }

    textarea.md-input {
        font-size: 16px;
        line-height: 20px;
        padding-top: 4px;
        height: 30px;
        min-height: 30px;
    }

    /*
     * The .md-input class is added to the input/textarea
     */
    .md-input {
        margin-top: 1px;
        line-height: 26px;
        height: 30px;
        -ms-flex-preferred-size: 26px;

        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 2px;
        padding-right: 2px;

        &:focus {
        }

        &:invalid {
        }

        &.md-no-flex {
        }
    }

    .md-input[disabled],
    [disabled] & .md-input {
       margin-top: 1px;
    }

    label, .md-placeholder {
        color: rgba(0, 0, 0, 0.26);
    }

    label {
        line-height: 21px;

        md-icon,
        md-icon.material-icons {
            vertical-align: text-bottom;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }

        padding-left: 2px;

        &:not(.md-no-float) {
        }

        &:not(.md-container-ignore) {
        }

        &:not(.md-no-float):not(.md-container-ignore) {
            padding-left: 2px;
        }
    }

    .md-placeholder {
    }


    &.md-input-focused,
    &.md-input-has-value,
    &.md-input-has-placeholder{
        label, label:not(.md-no-float):not(.md-container-ignore) {
            padding-left: 6px;
            margin-top: 0;
        }
    }


    &:not(.md-input-invalid) {

        &.md-input-has-value {
            label,
            md-icon {
                color: rgba(0, 0, 0, 0.54);
            }
        }

        &.md-input-focused {
            label,
            md-icon,
            &.md-accent label,
            &.md-warn label {

            }
        }
    }


    &.md-input-invalid {
        label,
        &.md-input-focused label {

        }
    }

    /*
    .hint {
        color: rgba(0, 0, 0, 0.87);
        font-size: 12px;
        line-height: 16px;
        padding-left: 1px;

        position: relative;
        top: -17px;
        overflow: hidden;
        clear: right;
    }
    */

    ng-messages,
    [ng-messages] {
        font-size: 12px;
        line-height: 12px;
        color: rgb(221, 44, 0);
    }

    ng-message,
    data-ng-message,
    x-ng-message,
    [ng-message],
    [data-ng-message],
    [x-ng-message],
    [ng-message-exp],
    [data-ng-message-exp],
    [x-ng-message-exp] {
        font-size: 12px;
        line-height: 12px;
        padding-top: 7px;
    }

    .md-char-counter {
        font-size: 12px;
        line-height: 12px;
        padding-top: 7px;
    }


    ng-messages .md-char-counter,
    [ng-messages] .md-char-counter,
    ng-message .md-char-counter,
    data-ng-message .md-char-counter,
    x-ng-message .md-char-counter,
    [ng-message] .md-char-counter,
    [data-ng-message] .md-char-counter,
    [x-ng-message] .md-char-counter,
    [ng-message-exp] .md-char-counter,
    [data-ng-message-exp] .md-char-counter,
    [x-ng-message-exp] .md-char-counter {
        font-size: 12px;
        line-height: 12px;
        padding-top: 7px;
    }
    

    input, md-select, textarea {
        color: rgba(0, 0, 0, 0.87);
    }

    &.md-block {
        md-select {
        }
    }

    md-select {

        .md-select-value {
            padding-top: 2px;
            padding-bottom: 2px;

            > * {
                margin-bottom: 3px;
            }

            &.md-select-placeholder {

            }

            .md-select-icon {
                width: 15px;
                margin-top: 2px;
                margin-right: 0;
                margin-bottom: 3px;

                &:after {

                }
            }
        }
    }
}

md-checkbox-container {

}

md-datepicker-container {

}

md-radiobutton-container {

}


md-autocomplete-container {
    md-autocomplete-wrap {
        border-bottom: 1px solid rgb(225, 225, 225);
        box-shadow: none !important;
    }

    input {
        padding: 0 4px !important;
    }
}


.md-open-menu-container,
.md-select-menu-container {
    transition-duration: 0ms !important;
}

.md-open-menu-container > md-menu-content > *,
.md-select-menu-container md-select-menu > * {
    transition-duration: 10ms !important;
    transition-delay: 5ms !important;
}

md-toast {
    position: fixed;
}
