
$color-success: #7cb342;
$color-warning: #FFA000;
$color-primary: #2196F3;
$color-danger: #E53935;
$color-disabled: #EAEAEA;

@import "../../bower_components/fs-boilerplate-styles/dist/material-1.1.1.scss";