.lister {

    &.loading.paged .lister-body {
        opacity: .4;
        min-height: 150px;
    }

    .progress-infinite {
        md-progress-circular {
            margin: auto;
        }
    }

    .top-actions {
        
        white-space: nowrap;
        
        .md-button {
            margin-top: 0;
            margin-bottom: 0;
        }

        md-menu {
            padding: 0;
            
            .more {
                height: auto;
                line-height: normal;
                width: auto;
                margin: 0;
                padding: 0;
            }
        }
    }

    .search {
        margin: 25px 0 25px 0;
    }

    .results {
        min-height: 90px;
        position: relative;
    }

    .status {
        position: relative;

        .progress-infinite {
            position: absolute;
            top :0;
            width: 100%;
        }
    }

    .full-search {
        
        md-input-container {
            margin: 10px 0 0 0;

            .md-errors-spacer {
                display: none;
            }
        }

        .filter.filter-date md-datepicker-container {
            margin: 10px 0 0 0;
        }
    }


    .inline-search {

        .backdrop {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 50;
            outline: none;
        }

        .toggle-filters {
            margin-left: -30px;
        }
        
        .icon-down {

            display: block;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            text-align: end;
            margin: 0 4px;
            -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);

            &:after {
                display: block;
                content: '\25BC';
                position: relative;
                top: 2px;
                speak: none;
                -webkit-transform: scaleY(0.6) scaleX(1);
                transform: scaleY(0.7) scaleX(1.1);
            }
        }

        .inline-search-input {
            
            position: relative;

            md-input-container {
                margin: 0;
                width: 100%;

                input {
                    height: 34px;
                }
                
                .md-errors-spacer {
                    display: none;
                }
            }

            .filters {
                position: absolute;
                left: 1px;
                background: #fff;
                width: 100%;
                padding: 8px 17px 17px 17px;
                z-index: 60;
                display: table;

                .filter {
                    display: table-row;

                    &.filter-date md-datepicker-container {
                        margin: 0;
                    }

                    md-input-container {
                        margin: 0;
                    }

                    .interface {                    

                        label { 
                            display: none;
                        }
                    }

                    .interface,
                    .filter-label {
                        display: table-cell;
                        padding: 5px 0px;
                    }

                    .filter-label {
                        vertical-align: middle;
                        width: 1%;
                        padding: 0 15px 0 0;
                        white-space: nowrap;
                    }
                }

                .search-button {
                    margin: 13px 0 0 0;
                }
            }
        }
    }

    .progress-paged {
        position: absolute;
        z-index: 50;
        left: 0;
        right: 0;
        top: 50%;
        opacity: 1;

        * {
            opacity: 1;
        }

        md-progress-circular {
            margin: auto;            
        }
    }

    .norecords {
        text-align: center;
        padding: 15px;
        color: #777;
    }

    .filter {

        margin-right: 15px;
        display: inline-block;

        label {
            white-space: nowrap;
            color: rgba(0,0,0,0.54);
        }

        &.filter-date {
        
            md-datepicker-container {
                display: inline-block;
                position: relative;
                padding: 2px;
                margin: 18px 0;
                vertical-align: middle;

                .md-button.md-icon-button {
                    margin-top: 6px;
                }

                .md-datepicker-input-container {
                    padding-bottom: 0;
                    margin-left: 0;
                    border: 0;
                }

                label {
                    display: block;
                    -webkit-transform: translate3d(0, 6px, 0) scale(0.75);
                    transform: translate3d(0, 6px, 0) scale(0.75);
                    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
                    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
                    -webkit-transform-origin: left top;
                    transform-origin: left top;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    right: auto;   
                    white-space: nowrap;
                    padding-left: 3px;                    
                }

                input.md-datepicker-input {
                    font-size: inherit;
                    height: 30px;
                    line-height: 30px;
                    outline-offset: 0;
                    border-bottom: 1px solid rgba(0,0,0,0.12);
                }

                .md-datepicker-focused {
                    input {
                        border-bottom: 2px solid rgb(158,158,158);
                    }
                }

                button.md-datepicker-button {
                    display: none;
                }
            }
        }


        &.filter-range {
            md-input-container {
                min-width: initial;
                width: 50px;

                &.md-input-focused label,
                label {
                    color: rgba(0,0,0,0.54);
                }

                &.filter-range-max label {
                    display: none;
                }

                .md-input {
                    display: inline;
                    text-align: center;
                }
            }
        }
    }  

    .infinite-records {
        color: #999;
        font-size: 14px;  
        margin-top: 5px;
    }

    .lister-table {

        display: table;
        width: 100%;

        .lister-col {
            display: table-cell;
            vertical-align: middle;
            outline: none;

            &.order {

                cursor: pointer;
                &:hover {
                    background-color: #F6F6F6;
                }
            }
        }

        .lister-row {
            display: table-row;
            &:focus {
                outline: none;
            }        
        }

        .lister-body {
            display: table-row-group;
            position: relative;
        }

        .lister-head {

            display: table-header-group;
            
            .lister-col {
                
                border-bottom: 2px solid #ddd;
                color: #999;
                font-size: 14px;
                padding: 8px;

                .wrap {
                    white-space: nowrap;
                    
                    .title {
                        vertical-align: middle;
                    }

                    .direction {
                        display: inline-block;
                        width: 17px;
                    }
                }

                &.sorting {
                    background-image: none;
                }

                &.lister-select-toogle {
                    white-space: nowrap;
                    width: 1px;
                    md-checkbox {
                        display: inline-block;
                        padding-left: 0; 
                        margin-right: 0;
                        width: 20px;
                    }

                    md-menu button {
                        height: auto;
                        min-height: auto;
                        width: auto;
                        line-height: inherit;
                        margin: 0;
                        padding: 3px 0 3px 0;                        
                    }
                }

                .width-holder {
                    /*border-top: 1px solid black;
                    display: block !important;*/
                }

                .direction md-icon {
                    font-size: 17px;
                    line-height: normal;
                    height: auto;
                }
            }
        }

        .lister-body {

            .lister-row:hover .lister-col {
                background-color: #f6f6f6;
            }

            .lister-row.selected {
                background-color: #f6f6f6;
            }

            .lister-col {
                padding: 8px;
                border-top: 1px solid #ddd;

                &.menu {
                    padding: 3px;
                }                
            }

            .lister-row:nth-child(1) .lister-col {
                border-top: 0px;
            }

            .lister-row:last-child .lister-col {
                border-bottom: 2px solid #ddd;
            }
        }

        .dt-center {
            text-align: center;
        }

        .dt-left {
            text-align: left;
        }

        .dt-right {
            text-align: right;
        }
    }


    .paging {

        label {
            /* HACK: because there is no native solution from material design */
            -webkit-transform: translate3d(0, 6px, 0) scale(0.75);
            transform: translate3d(0, 6px, 0) scale(0.75);
            transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            display: block;
            color: rgba(0,0,0,0.54);
        }


        .pages {
            text-align: center;
            
            li {
                display: inline-block;
            
                a {
                    box-sizing: border-box;
                    display: inline-block;
                    min-width: 1.5em;
                    padding: 0.5em 1em;
                    margin-left: 2px;
                    text-align: center;
                    cursor: pointer;
                    color: #333;
                    border: 1px solid transparent;
                    border-radius: 2px;
                    list-style: none;
                    text-decoration: none;

                }

                &.disabled a {
                    pointer-events: none;
                    cursor: default;
                    color: #ccc;
                }


                &.active a {
                    font-weight: bold;
                }
            }
        }

        .records {
           div {
                margin-top: 10px;
           } 
        }

        .limits {
            
        }
    }

    .lister-actions {
        width: 1%;
        white-space: nowrap;
    }

    .select-checkbox {
        margin: 0;
    }

}


.md-datepicker-calendar-pane {
    margin-left: -10px;
}