<div class="lister" ng-class="{ 'filters-open': extended_search, loading: loading, infinite: options.paging.infinite, paged: !options.paging.infinite, sorting: sorting, data: data.length, group: options.group }" id="{{id}}">
    <div class="lister-search" layout="row" layout-align="start stretch" ng-if="options.filters.length || options.topActions">
        <div layout="row" layout-align="start center" class="inline-search" flex>
            <div class="inline-search-input" flex="grow">
                <div class="main-search-bar" layout="row" layout-align="start center" ng-if="options.filters.length">
                    <div class="search"><i class="material-icons">search</i></div>
                    <md-input-container class="md-no-label md-no-message">
                        <input ng-model="searchinput.value" ng-model-options="{debounce: 400}" ng-change="searchChange(searchinput.value)" ng-click="searchClick($event)" ng-keydown="searchKeydown($event)" aria-label="Search" placeholder="Search" autocomplete="off" />
                    </md-input-container>
                    <div class="inline-actions" layout="row" layout-align="start center">
                    	<a href ng-click="searchShow()" class="action-filter"><i class="material-icons">filter_list</i></a>
                    	<a href ng-click="clear()" ng-show="searchinput.value"><i class="material-icons">clear</i></a>
                    	<a href ng-click="reload()" class="action-reload"><i class="material-icons">refresh</i></a>
                   	</div>
                </div>
                <div class="filters">
                    <div class="wrap">

                    	<fs-heading class="filter-by">
                    		Filter by
                    		<fs-heading-actions>
                    			<a href ng-click="searchToggle(false,true)"><md-icon class="action-clear">clear</md-icon></a>
                    		</fs-heading-actions>
                    	</fs-heading>
                        <div ng-repeat="filter in options.filters" class="filter-group" ng-if="!filter.disabled">

                            <div class="filter filter-{{filter.type}}">

                                <div class="filter-label">
                                    <div class="filter-label-content">
                                        {{::filter.label}}
                                    </div>
                                </div>

                                <div class="interface" ng-if="filter.type == 'select'">
                                    <md-input-container class="md-no-float md-no-label md-no-message" ng-show="filter.multiple && !filter.groups">
                                        <md-select ng-model="filter.model" aria-label="select" multiple="filter.multiple" md-on-close="selectChange(filter)" ng-keyup="filterKeyup(filter,$event)">
                                            <md-option ng-repeat="item in filter.values" value="{{::item.value}}" ng-style="item.style">
                                                {{::item.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-no-float md-no-label md-no-message" ng-show="!filter.multiple && !filter.groups">
                                        <md-select ng-model="filter.model" aria-label="select" ng-change="selectChange(filter)" ng-keyup="filterKeyup(filter,$event)">
                                            <md-option ng-repeat="item in filter.values" value="{{::item.value}}" ng-style="item.style">
                                                {{::item.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-no-float md-no-label md-no-message" ng-show="!filter.multiple && filter.groups">
                                        <md-select ng-model="filter.model" aria-label="select" ng-change="selectChange(filter)" ng-keyup="filterKeyup(filter,$event)">
                                            <md-optgroup label="{{group}}" ng-repeat="(group, values) in filter.groups">
                                                <md-option ng-repeat="item in values" value="{{::item.value}}" ng-style="item.style">
                                                    {{::item.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-no-float md-no-label md-no-message" ng-show="filter.multiple && filter.groups">
                                        <md-select ng-model="filter.model" aria-label="select" multiple="filter.multiple" md-on-close="selectChange(filter)" ng-keyup="filterKeyup(filter,$event)">
                                            <md-optgroup label="{{group}}" ng-repeat="(group, values) in filter.groups">
                                                <md-option ng-repeat="item in values" value="{{::item.value}}" ng-style="item.style">
                                                    {{::item.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="interface" ng-if="filter.type == 'autocomplete'">
									<md-autocomplete-container md-no-clear>
										<md-autocomplete
										        md-no-cache="true"
										        md-selected-item="filter.model"
										        md-search-text="filter.search"
										        md-selected-item-change="filterChange(filter)"
										        md-items="item in filter.values(filter.search, filter)"
										        md-item-text="filter.model.name"
										        md-min-length="0"
										        ng-model-options="{ debounce: 500 }"
										        md-autoselect>
										        <md-item-template>
										        	<span md-highlight-text="filter.search" md-highlight-flags="^i">{{item.name}}</span>
										        </md-item-template>
										        <md-not-found>
										        	No matches found
										      	</md-not-found>
										</md-autocomplete>
									</md-autocomplete-container>
                                </div>

                                <div class="interface" ng-if="filter.type == 'autocompletechips'">

									<md-chips-autocomplete-container class="md-block">
									    <md-chips 	ng-model="filter.model"
									    			md-autocomplete-snap
									    			md-require-match="false"
									    			md-on-remove="filterChange(filter)"
									    			md-on-add="filterChange(filter)">
									        <md-autocomplete
													md-no-cache="true"
													md-items="item in filter.values(filter.search, filter)"
													md-search-text="filter.search"
													md-item-text=""
													md-min-length="1"
													md-require-match
													md-autoselect>
									            <span md-highlight-text="filter.search">{{item.name}}</span>
									        </md-autocomplete>
									        <md-chip-template>
									            <span>
									              {{$chip.name}}
									            </span>
									        </md-chip-template>
									    </md-chips>
									</md-chips-autocomplete-container>
                                </div>

                                <div class="interface" ng-if="filter.type == 'text'">
                                    <md-input-container class="md-no-float md-no-label md-no-message">
                                        <input ng-model="filter.model" aria-label="{{::filter.label}}" ng-model-options="{debounce: 400}" ng-keyup="filterKeyup(filter,$event)" ng-change="filterChange(filter, event)"/>
                                    </md-input-container>
                                </div>

								<div class="interface  interface-date" ng-if="filter.type == 'date'">
                                    <fs-datetime fs-class="md-no-label md-no-message" fs-model="filter.model" fs-change="filterChange(filter)"></fs-datetime>
                                </div>

                                <div class="interface  interface-datetime" ng-if="filter.type == 'datetime'">
                                    <fs-datetime fs-class="md-no-label md-no-message" fs-time="true" fs-model="filter.model" fs-change="filterChange(filter)"></fs-datetime>
                                </div>

                                <div class="interface interface-daterange" ng-if="filter.type == 'daterange'">
                                    <fs-datetime-range fs-class="md-no-label md-no-message" fs-from="filter.model['from']" fs-to="filter.model['to']" fs-change="filterChange(filter)"></fs-datetime-range>
                                </div>

                                <div class="interface interface-datetimerange" ng-if="filter.type == 'datetimerange'">
                                    <fs-datetime-range fs-class="md-no-label md-no-message" fs-from="filter.model['from']" fs-to="filter.model['to']" fs-change="filterChange(filter)" fs-time="true"></fs-datetime-range>
                                </div>

                                <div class="interface interface-range" ng-if="filter.type == 'range'" >

                                    <span layout="row" class="md-block">

                                         <md-input-container class="md-no-label md-no-message md-block filter-range-min">

                                            <label>{{::filter.label}}</label>
                                            <input
                                                placeholder="{{::filter.placeholder[0]}}"
                                                ng-model="filter.model.min"
                                                aria-label="{{::filter.label}}"
                                                ng-model-options="{debounce: 400}"
                                                ng-change="filterChange(filter)" />
                                         </md-input-container>


                                         <md-input-container class="md-no-label md-no-message md-block filter-range-max">

                                            <label>{{::filter.label}}</label>
                                            <input
                                                placeholder="{{::filter.placeholder[1]}}"
                                                ng-model="filter.model.max"
                                                aria-label="{{::filter.label}}"
                                                ng-model-options="{debounce: 400}"
                                                ng-change="filterChange(filter)" />
                                         </md-input-container>
                                    </span>
                                </div>

                                <div class="interface interface-checkbox" ng-if="filter.type == 'checkbox'">
                                    <md-checkbox ng-change="filterChange(filter)" ng-model="filter.model" ng-true-value="'{{filter.checked}}'" ng-false-value="'{{filter.unchecked}}'" aria-label="Checkbox filter"></md-checkbox>
                                </div>

                            </div>

                            <div ng-if="filter.isolate" class="filter isolate">
                                <div class="filter-label">{{filter.isolate.label}}</div>
                                <div class="interface">
                                    <md-checkbox ng-change="isolateChange(filter)" ng-model="filter.isolate.enabled" ng-true-value="true" ng-false-value="false" aria-label="Checkbox filter"></md-checkbox>
                                </div>
                            </div>
                        </div>

                		<div class="buttons">
	                        <md-button class="md-button md-raised md-accent search-button" ng-click="searchToggle(false,true)">Search</md-button>
	                        <md-button class="md-button md-accent reset-button" ng-click="reset()">Reset</md-button>
	                    </div>
                    </div>
                </div>
		        <div class="infinite-records" layout="row" layout-align="start center">

		            <span ng-if="!options.paging.infinite && numeric(paging.records) && paging.records>=0">
		            	Showing&nbsp;<span ng-show="paging.records>=options.paging.limits[0]">
		            	<md-menu>
			                <a href ng-click="$mdMenu.open($event)">{{options.paging.limit>paging.records ? paging.records : (options.paging.limit || 'All')}}</a>
			                <md-menu-content>
			                    <md-menu-item ng-repeat="limit in options.paging.limits">
			                        <md-button ng-click="limitSelect(limit)">{{limit}}</md-button>
			                    </md-menu-item>
			                    <md-menu-item ng-if="options.paging.all">
			                        <md-button ng-click="limitSelect(null)">All</md-button>
			                    </md-menu-item>
			                </md-menu-content>
			            </md-menu>&nbsp;of&nbsp;
			            </span>{{paging.records}}&nbsp;{{paging.records==1 ? 'result' : 'results'}}
		            </span>
		            <span ng-if="options.paging.infinite && numeric(paging.records) && paging.records>=0">
		            	{{paging.records}}&nbsp;{{paging.records==1 ? 'result' : 'results'}}
		            </span>
		            <span ng-show="order.name">ordered by&nbsp;
			            <md-menu>
			                <a href ng-click="$mdMenu.open($event)">{{order.label}}</a>,
			                <md-menu-content>
			                    <md-menu-item ng-repeat="order in options.orders">
			                        <md-button ng-click="orderNameSelect(order)">
			                            {{order.label}}
			                        </md-button>
			                    </md-menu-item>
			                </md-menu-content>
			            </md-menu>
			            <a href ng-show="order.name" ng-click="orderDirectionToggle($event)" class="order-toggle"> {{orderDirections[order.direction]}}</a>
			        </span>
		            <md-menu class="saved-filters" ng-if="options.savedFilter">
		                <a href ng-click="$mdMenu.open($event)">
		                	Saved Filters<span ng-show="options.savedFilter.active">: {{options.savedFilter.active.name}}</span>
		                </a>
		                <md-menu-content class="saved-filter-menu">
		                	<md-menu-item class="my-saved-filters">
		                		My Saved Filters
		                	</md-menu-item>
		                	<div ng-repeat="item in options.savedFilter.filters">
		                		<md-menu-item>
		                            <md-button ng-click="savedFilterSelect(item)" layout="row" layout-align="start center">
		                            	<div layout="row" layout-align="start center">
		                            		<div flex>{{item.name}}</div>
		                            		<md-icon ng-show="item.guid==options.savedFilter.active.guid">done</md-icon>
		                            	</div>
		                            </md-button>
		                        </md-menu-item>
		                	</div>
		                	<md-menu-divider ng-show="options.savedFilter.filters.length"></md-menu-divider>
		                    <md-menu-item ng-show="!options.savedFilter.active">
		                        <md-button ng-click="savedFilterSave()"><md-icon>save</md-icon> Save Filter</md-button>
		                    </md-menu-item>
		                    <md-menu-item>
		                        <md-button ng-click="savedFilterManage()"><md-icon>settings</md-icon> Manage Saved Filters</md-button>
		                    </md-menu-item>
		                </md-menu-content>
		            </md-menu>
		        </div>
            </div>
            <div class="backdrop" ng-show="extended_search" ng-click="searchToggle(false,true)"></div>
        </div>

        <div class="top-actions" ng-if="options.topActions|fsArrayLength:{ show: true }">
	        <div class="wrap">
        		<md-menu class="responsive-top-actions">
	                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button more">
	                    <md-icon>more_vert</md-tooltip>
	                </md-button>
	                <md-menu-content class="fs-lister-actions-menu">
	                    <md-menu-item ng-repeat="action in options.topActions|filter:{ type: 'button'}" ng-show="action.show">
	                        <md-button ng-click="action.click($event)">
	                            <md-icon ng-if="action.icon">{{::action.icon}}</md-icon>
	                            {{::action.label}}
	                        </md-button>
	                    </md-menu-item>
	                </md-menu-content>
	            </md-menu>

	            <span ng-repeat="action in options.topActions" ng-if="action.show" class="nonresponsive-top-actions">
	            	<md-button ng-show="action.type=='button'" ng-click="topActionsClick(action,$event)" class="md-raised action-button" ng-class="{ 'md-accent': action.primary!==false }"><md-icon ng-show="action.icon">{{action.icon}}</md-icon>{{action.label}}</md-button>

	            	<md-button ng-show="action.type=='icon'" ng-click="topActionsClick(action,$event)" class="action-icon"><md-icon ng-show="action.icon">{{action.icon}}</md-icon><md-tooltip>{{action.label}}</md-tooltip></md-button>
	            	<md-menu ng-if="action.type=='menu'">
	                    <md-button ng-click="$mdMenu.open($event)" class="md-icon-button more">
	                        <md-icon ng-show="action.icon">{{action.icon}}</md-icon><md-tooltip>{{action.label}}</md-tooltip>
	                    </md-button>
	                    <md-menu-content>
	                        <md-menu-item ng-repeat="action in action.items" ng-show="action.show">
	                            <md-button ng-click="action.click($event)">
	                                <md-icon ng-if="action.icon">{{::action.icon}}</md-icon>
	                                {{::action.label}}
	                            </md-button>
	                        </md-menu-item>
	                    </md-menu-content>
	                </md-menu>
	            	<span ng-if="action.type=='template'" fs-lister-topaction-compile="action.template" scope="action.scope"></span>
	            </span>
	        </div>
        </div>
        <!-- <div class="title"><fs-heading ng-if="options.title">{{options.title}}</fs-heading></div> -->
    </div>
    <div class="results" ng-if="options.columns.length">
        <div class="progress-paged ng-hide" ng-if="loading && !options.paging.infinite">
            <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
        </div>
        <table class="lister-table">
            <thead class="lister-head">
            	<tr class="lister-row" ng-repeat="header in options.headers">
            		<th class="lister-col lister-col-header lister-col-sort lister-col-topheader" ng-if="options.sort"></th>
                    <th class="lister-col lister-col-header lister-col-select-toggle lister-col-topheader" ng-if="options.selection.show"></th>
            		<th class="lister-col lister-col-header lister-col-topheader {{::col.className}}" ng-class="{ order: col.order, center: col.center, right: col.right  }" ng-style="col.styles" colspan="{{col.span}}" ng-repeat="col in header">{{col.title}}</th>
            	</tr>
                <tr class="lister-row">
                    <th class="lister-col lister-col-header lister-col-sort" ng-if="options.sort"></th>
                    <th class="lister-col lister-col-header lister-col-select-toggle" ng-if="options.selection.show">

                        <md-checkbox ng-click="selectionsToggle()" ng-true-value="true" ng-false-value="false" ng-model="selection.checked" aria-label="Toggle Selection" class="select-checkbox"></md-checkbox>
                        <md-menu md-offset="6 32" ng-if="options.selection.actions">
                            <md-button aria-label="Select" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon>arrow_drop_down</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="action in options.selection.actions" ng-if="action.show">
                                    <md-button ng-click="selectionClick(action, $event)">
                                        <md-icon ng-if="action.icon">{{::action.icon}}</md-icon>
                                        {{::action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </th>
                    <th class="lister-col lister-col-header {{::col.className}}" ng-repeat="col in options.columns" ng-if="col.show" ng-class="{ order: col.order, center: col.center, right: col.right  }" ng-style="col|fsListerHeaderStyles" ng-click="headerClick(col)">
                        <div class="wrap">
                            <span fs-lister-compile="col.title" column="col" locals="locals" class="title"></span>

                            <div class="direction" ng-if="col.order">
                                <span ng-switch="order.direction" ng-show="order.name==col.order.name">
                                    <md-icon ng-switch-when="asc">arrow_downward</md-icon>
                                    <md-icon ng-switch-when="desc">arrow_upward</md-icon>
                                </span>
                            </div>
                        </div>
                    </th>
                    <th class="lister-col lister-actions lister-col-header" ng-if="options.actions.length || options.action"></th>
                </tr>
            </thead>
            <tbody class="lister-body" sv-root sv-part="data" sv-on-sort="sortStop($item,$partTo,$indexFrom,$indexTo)" sv-on-start="sortStart()">
                <tr class="lister-row {{rowClasses[$index]}}" sv-element="{ containment:'.lister-body'}" ng-class="{ selected: selection.selected[$index] }" ng-repeat-start="item in data" ng-click="options.rowClick(item,$event);" ng-if="!item.listerGroup">
                    <td class="lister-col lister-col-sort" ng-if="options.sort"><div class="sort-handle" sv-handle><md-icon>drag_handle</md-icon></div></td>
                    <td class="lister-col lister-col-select-toggle" ng-if="options.selection.show">
                        <md-checkbox ng-model="selection.selected[$parent.$index]" ng-true-value="1" aria-label="Select" class="select-checkbox"></md-checkbox>
                    </td>
                    <td class="lister-col {{::col.className}}" ng-repeat="col in options.columns" ng-if="col.show" fs-lister-compile="dataCols[item.$$index][$index]" index="item.$$index" column="col" data="item" locals="locals" ng-style="col.styles" ng-class="{ center: col.center, right: col.right }"></td>
                    <td class="lister-col lister-actions" ng-if="options.action">
                        <md-button ng-click="actionClick(options.action,item,$event); $event.stopPropagation();" class="md-icon-button">
                            <md-icon class="material-icons">{{::options.action.icon}}</md-icon>
                        </md-button>
                    </td>
                    <td class="lister-col lister-actions" ng-if="options.actions.length">
                        <md-menu ng-if="actionCols[item.$$index].length">
                            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
                                <md-icon class="md-default-theme material-icons">more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-if="actionCols[item.$$index][$index]" ng-repeat="action in options.actions">
                                    <md-button ng-click="actionClick(action,item,$event)">
                                        <md-icon class="material-icons" ng-if="action.icon">{{::action.icon}}</md-icon>
                                        {{::action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
                <tr ng-repeat-end class="lister-row-group" ng-if="item.listerGroup">
                	<td colspan="{{col.span || 99}}" ng-repeat="col in options.group.columns" fs-lister-group-compile="options.group" data="item.listerGroup" col="col.template" group="options.group">{{item.listerGroup}}</td>
                </tr>
            </tbody>
			<tfoot class="lister-foot" ng-if="footer">
                <tr class="lister-row">
                    <td class="lister-col lister-col-footer lister-col-sort" ng-if="options.sort"></td>
                    <td class="lister-col lister-col-footer lister-col-select-toggle" ng-if="options.selection.show"></td>
                    <td class="lister-col lister-col-footer {{::column.className}}" ng-repeat="column in options.columns" ng-if="column.show" fs-lister-footer-compile locals="locals" column="column" style="footerStyle[$index]" ng-style="footerStyle[$index]"></td>
                    <td class="lister-col lister-actions lister-col-footer" ng-if="options.actions.length || options.action"></td>
                </tr>
            </tfoot>
        </table>
        <div class="status">
            <div class="norecords ng-hide" ng-show="!loading && options.norecords && !data.length">{{::options.norecords}}</div>
            <div class="progress-infinite ng-hide" ng-if="options.paging.infinite && loading">
                <md-progress-circular md-diameter="40" md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
    <div class="paging" ng-if="options.paging.enabled && !options.paging.infinite" layout="row">
        <div class="records"></div>
        <div flex>
            <ul class="pages" ng-if="paging.pages>1 && options.paging.pages">
                <li ng-class="{ disabled : paging.page == 1 }" class="first">
                    <a href="javascript:;" ng-click="page(1)">&laquo;</a>
                </li>
                <li ng-class="{ disabled : paging.page == 1 }" class="previous">
                    <a href ng-click="page(paging.page - 1)">‹</a>
                </li>
                <li ng-repeat="number in [] | listerRange:paging.pages:paging.page" ng-class="{ active : paging.page == (number + 1), disabled : number == '...' }" class="page">
                    <a href ng-click="page(number + 1)">{{ number + 1}}</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }" class="next">
                    <a href ng-click="page(paging.page + 1)">›</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }" class="last">
                    <a href ng-click="page(paging.pages)">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
