<div class="lister" ng-class="{ loading: loading, infinite: options.paging.infinite, paged: !options.paging.infinite }">

    <div layout="row" layout-align="start" class="search" ng-show="options.filters.length" layout-align=" end">
        <div ng-show="options.inline" layout="row" class="ng-hide inline-search" flex="grow">
            <div class="inline-search-input" flex="grow">
                <md-input-container md-no-float>
                    <input ng-model="searchinput" ng-model-options="{debounce: 400}" ng-change="searchChange(searchinput)" aria-label="Search" placeholder="Search"/>
                </md-input-container>

                <div class="ng-hide md-whiteframe-z2 filters" layout="column" ng-show="extended_search">
                    <div ng-repeat="filter in options.filters" class="filter filter-{{filter.type}}">
                        
                        <div class="filter-label">
                            <label>{{filter.label}}</label> 
                        </div>

                        <div class="interface" ng-if="filter.type == 'select'">

                            <md-input-container class="md-block md-no-float" ng-show="filter.multiple">
                                <md-select ng-model="filter.model" aria-label="select" multiple="filter.multiple">
                                    <md-option ng-repeat="item in filter.values" value="{{item.value}}">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block md-no-float" ng-show="!filter.multiple">
                                <md-select ng-model="filter.model" aria-label="select">
                                    <md-option ng-repeat="item in filter.values" value="{{item.value}}">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div class="interface " ng-if="filter.type == 'text'" >
                            <md-input-container class="md-no-float md-block">
                                <input ng-model="filter.model" aria-label="{{filter.label}}" />
                            </md-input-container>
                        </div>
                        
                        <div class="interface" ng-if="filter.type == 'range'" >

                            <span layout="row" class="md-block">
                                 <md-input-container class="filter-range-min">

                                    <label>{{filter.label}}</label>

                                    <input
                                        placeholder="{{filter.placeholder[0]}}"
                                        ng-model="filter.model['min']"
                                        aria-label="{{filter.label}}" />
                                 </md-input-container>

                                 <md-input-container class="filter-range-max">

                                    <label>{{filter.label}}</label>

                                    <input
                                        placeholder="{{filter.placeholder[1]}}"
                                        ng-model="filter.model['max']"
                                        aria-label="{{filter.label}}" />
                                 </md-input-container>
                            </span>
                        </div>

                        <div class="interface" ng-if="filter.type == 'date'" >

                            <span class="md-block">                
                                <md-datepicker-container>
                                    <label>{{filter.label}}</label>
                                    <md-datepicker ng-model="filter.model"></md-datepicker>
                                </md-datepicker-container>
                            </span>
                        </div>
                    </div>

                    <md-button class="md-button md-raised md-accent search-button" ng-click="search()">Search</md-button>
                </div>
            </div>
            <md-button ng-click="toggleFilters()" class="md-icon-button toggle-filters" aria-label="Search filters">
                <div class="icon-down"></div>
            </md-button>
  
            <div class="backdrop" ng-show="extended_search" ng-click="toggleFilters()"></div>
        </div>

        <div ng-show="!options.inline" class="ng-hide full-search" flex="grow">
            <div ng-repeat="filters in groupedFilters" layout="row">
                <div ng-repeat="filter in filters" class="filter filter-{{filter.type}}">
                    <md-input-container ng-if="filter.type == 'select'">
                        <label>{{filter.label}}</label>
                        <md-select ng-model="filter.model" ng-change="filterChange(filter)">
                            <md-option ng-repeat="item in filter.values" value="{{item.value}}">
                                {{item.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-input-has-placeholder" ng-if="filter.type == 'text'">
                        <label>{{filter.label}}</label>
                        <input ng-model="filter.model" ng-model-options="{debounce: 300}" ng-change="filterChange(filter)" aria-label="{{filter.label}}" />
                    </md-input-container>
                    <span ng-if="filter.type == 'range'" layout="row">
                         <md-input-container class="filter-range-min">

                            <label>{{filter.label}}</label>

                            <input
                                placeholder="{{filter.placeholder[0]}}"
                                ng-model="filter.model['min']"
                                ng-model-options="{debounce: 300}"
                                ng-change="filterChange(filter)"
                                aria-label="{{filter.label}}" />
                         </md-input-container>

                         <md-input-container class="filter-range-max">

                            <label>{{filter.label}}</label>

                            <input
                                placeholder="{{filter.placeholder[1]}}"
                                ng-model="filter.model['max']"
                                ng-model-options="{debounce: 300}"
                                ng-change="filterChange(filter)"
                                aria-label="{{filter.label}}" />
                         </md-input-container>
                    </span>
                    <span ng-if="filter.type == 'date'">                
                        <md-datepicker-container>
                            <label>{{filter.label}}</label>
                            <md-datepicker ng-model="filter.model" ng-change="filterChange(filter)"></md-datepicker>
                        </md-datepicker-container>
                    </span>
                    <span ng-if="filter.type == 'newline'">
                        <br>
                    </span>
                </div>
            </div>
        </div>
        <div class="top-actions">
            <md-button ng-repeat="action in topActions" ng-show="!action.more" ng-click="action.click($event)" class="ng-hide md-raised" ng-class="{ 'md-accent': action.primary!==false }">{{action.label}}</md-button>
            <md-menu ng-show="(topActions | filter:{ more: true }).length > 0">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button more">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="action in topActions" ng-show="action.more">
                        <md-button ng-click="action.click($event)">
                            <md-icon ng-show="action.icon">{{action.icon}}</md-icon>
                            {{action.label}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div ng-show="options.paging.infinite && numeric(paging.records)" class="infinite-records ng-hide">{{paging.records}} Records</div>
    <div class="results">
        <div class="lister-table">
            <div class="lister-head">
                <div class="lister-row">
                    <div class="lister-col lister-col-header lister-select-toogle" ng-show="options.selection">
                       
                        <md-checkbox ng-click="selectionsToggle(selectToogled);" ng-model="selectToogled"  ng-true-value="true" aria-label="Toggle Selection" class="select-checkbox"></md-checkbox>
                        <md-menu md-offset="17 42">
                            <md-button aria-label="Select" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon>arrow_drop_down</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="action in options.selection.actions">
                                    <md-button ng-click="selectMenu(action.click,$event)">
                                        <md-icon md-menu-align-target ng-show="action.icon">{{action.icon}}</md-icon>
                                        {{action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div class="lister-col lister-col-header {{column.className}}" ng-repeat="column in options.columns" ng-style="columnStyle(column)" ng-class="{ order: column.order }" ng-click="headerClick(column)">
                        
                        <span fs-lister-compile="column.title" fs-column="column"></span>

                        <span ng-switch="order.direction" ng-show="order.name==column.order.name" class="direction">
                            <md-icon ng-switch-when="asc">arrow_downward</md-icon>
                            <md-icon ng-switch-when="desc">arrow_upward</md-icon>
                        </span>

                        <div class="width-holder" ng-show="loading"></div>

                    </div>
                    <div class="lister-col lister-col-header" ng-show="options.actions.length || options.action">
                        <div class="width-holder" ng-show="loading"></div>
                    </div>
                </div>
            </div>
            <div class="lister-body">
                <div class="progress-paged ng-hide" ng-show="loading && !options.paging.infinite">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div class="lister-row" ng-class="{ selected: checked[rowIndex] }" ng-repeat="item in data" ng-click="options.rowClick(item.object,$event); $event.stopPropagation();" ng-init="rowIndex = $index">
                    <div class="lister-col" ng-show="options.selection">
                        <md-checkbox ng-model="checked[rowIndex]" ng-true-value="1" ng-click="select(item)" aria-label="Select" class="select-checkbox"></md-checkbox>
                    </div>
                    <div class="lister-col {{col.column.className}}" ng-repeat="col in item.cols" fs-lister-compile="col.value" fs-column="col.column" fs-data="item.object" ng-style="columnStyle(col.column)"></div>
                    <div class="lister-col lister-actions" ng-if="options.action">
                        <md-button ng-click="actionClick(options.action,item,$event); $event.stopPropagation();" class="md-icon-button">
                            <md-icon md-font-set="material-icons" class="md-default-theme material-icons">{{options.action.icon}}</md-icon>
                        </md-button>
                    </div>
                    <div class="lister-col lister-actions" ng-if="options.actions.length">
                        <md-menu>
                            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                <md-icon md-font-set="material-icons" class="md-default-theme material-icons">more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-if="action.show(item.object)" ng-repeat="action in options.actions">
                                    <md-button ng-click="actionClick(action,item,$event)">
                                        <md-icon md-font-set="material-icons" class="md-default-theme material-icons" ng-show="action.icon">{{action.icon}}</md-icon>
                                        {{action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="status">
            <div class="norecords ng-hide" ng-show="!loading && options.norecords && !data.length">{{options.norecords}}</div>
            <div class="progress-infinite ng-hide" ng-show="loading && options.paging.infinite">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>

    <div class="paging ng-hide" ng-show="paging.enabled && !options.paging.infinite" layout="row">
        <div class="records">
            <label>Total</label>
            <div>{{paging.records}} Records</div>
        </div>
        <div flex>
            <ul class="pages" ng-if="paging.pages>1">
                <li ng-class="{ disabled : paging.page == 1 }">
                    <a href="javascript:;" ng-click="page(1)">&laquo;</a>
                </li>
                <li ng-class="{ disabled : paging.page == 1 }" class="ng-scope">
                    <a href="" ng-click="page(paging.page - 1)" class="ng-binding">‹</a>
                </li>
                <li ng-repeat="number in [] | listerRange:paging.pages:paging.page" ng-class="{ active : paging.page == (number + 1), disabled : number == '...' }">
                    <a href="" ng-click="page(number + 1)">{{ number + 1}}</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }" class="ng-scope">
                    <a href="" ng-click="page(paging.page + 1)" class="ng-binding">›</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }">
                    <a href="" ng-click="page(paging.pages)">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="limits">
            <md-input-container>
                <label>Show</label>
                <md-select ng-model="paging.limit" md-on-close="load()">
                    <md-option ng-repeat="limit in options.paging.limits" value="{{limit}}">
                        {{limit}} records
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
