<md-dialog aria-label="Modal" style="width:500px">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div ng-show="mode=='save'">
                	Save Filter
                </div>
                <div ng-show="mode=='update'">
                	Update Filter
                </div>
                <div ng-show="mode=='listing'">
                	Saved Filters
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
            	<div ng-show="mode=='save'">
	                <form>
	                    <md-input-container class="md-block">
	                    	<label>Saved filter to update</label>
		                    <md-select ng-model="filter" required>
    			                <md-option ng-repeat="savedFilter in savedFilters" ng-value="savedFilter">{{savedFilter.name}}</md-option>
    			                <md-divider></md-divider>
    			                <md-option value="new">Create new filter</md-option>
    			            </md-select>
    			        </md-input-container>
	                    <md-input-container class="md-block" ng-show="filter=='new'">
	                        <label>Filter Name</label>
	                        <textarea ng-model="name"></textarea>
	                    </md-input-container>
	                </form>
	            </div>
	            <div ng-show="mode=='update'">
	                <form>
	                   	<md-input-container class="md-block" required>
	                        <label>Filter Name</label>
	                        <textarea ng-model="filter.name"></textarea>
	                    </md-input-container>
	                </form>
	            </div>
	            <div ng-show="mode=='listing'">
                	<fs-lister ls-options="lsOptions" ls-sort></fs-lister>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()">{{mode=='update' ? 'Cancel' : 'Done'}}</md-button>
            <md-button ng-click="save()" class="md-accent" ng-show="mode=='save'">
            	{{filter=='new' ? 'Add' : 'Save'}}
            </md-button>
            <md-button ng-click="save()" class="md-accent" ng-show="mode=='update'">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>