<div class="lister" ng-class="{ loading: loading, infinite: options.paging.infinite, paged: !options.paging.infinite }">

    <div class="lister-search">
        <div layout="row" layout-align="start" ng-if="options.filters.length" layout-align="start end">
            <div layout="row" layout-align="start center" class="inline-search" flex>
                <div class="inline-search-input" flex="grow">
                    <div class="main-search-bar" layout="row" layout-align="start center">
                        <div class="search"><i class="material-icons">search</i></div>
                        <md-input-container class="md-no-label md-no-message">
                            <input ng-model="searchinput.value" ng-model-options="{debounce: 400}" ng-change="searchChange(searchinput.value)" ng-click="openFilters()" ng-keydown="searchKeydown($event)" aria-label="Search" placeholder="Search" autocomplete="off" />
                        </md-input-container>
                        <a href ng-click="reload()" class="reload"><i class="material-icons">refresh</i></a>
                    </div>

                    <div class="ng-hide filters" layout="column" ng-show="extended_search">
                        <div class="wrap">
                            <div ng-repeat="filter in options.filters" class="filter-group" ng-if="!filter.disabled">

                                <div class="filter filter-{{filter.type}}">

                                    <div class="filter-label">
                                        <div class="filter-label-content">
                                            {{::filter.label}}
                                        </div>
                                    </div>

                                    <div class="interface" ng-if="filter.type == 'select'">
                                        <md-input-container class="md-no-float md-no-label md-no-message" ng-show="filter.multiple && !filter.groups">
                                            <md-select ng-model="filter.model" aria-label="select" multiple="filter.multiple" md-on-open="selectOpen(filter)" md-on-close="selectSearch(filter)">
                                                <md-option ng-repeat="item in filter.values" value="{{::item.value}}" ng-style="item.style">
                                                    {{::item.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="md-no-float md-no-label md-no-message" ng-show="!filter.multiple && !filter.groups">
                                            <md-select ng-model="filter.model" aria-label="select" md-on-open="selectOpen(filter)" ng-change="selectSearch(filter,filter.model)">
                                                <md-option ng-repeat="item in filter.values" value="{{::item.value}}" ng-style="item.style">
                                                    {{::item.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="md-no-float md-no-label md-no-message" ng-show="!filter.multiple && filter.groups">
                                            <md-select ng-model="filter.model" aria-label="select" md-on-open="selectOpen(filter)" ng-change="selectSearch(filter)">
                                                <md-optgroup label="{{group}}" ng-repeat="(group, values) in filter.groups">
                                                    <md-option ng-repeat="item in values" value="{{::item.value}}" ng-style="item.style">
                                                        {{::item.name}}
                                                    </md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="md-no-float md-no-label md-no-message" ng-show="filter.multiple && filter.groups">
                                            <md-select ng-model="filter.model" aria-label="select" multiple="filter.multiple" md-on-open="selectOpen(filter)" md-on-close="selectSearch(filter)">
                                                <md-optgroup label="{{group}}" ng-repeat="(group, values) in filter.groups">
                                                    <md-option ng-repeat="item in values" value="{{::item.value}}" ng-style="item.style">
                                                        {{::item.name}}
                                                    </md-option>
                                                </md-optgroup>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div class="interface" ng-if="filter.type == 'text'">
                                        <md-input-container class="md-no-float md-no-label md-no-message">
                                            <input ng-model="filter.model" aria-label="{{::filter.label}}" ng-model-options="{debounce: 400}" ng-keydown="searchKeydown($event, 'closePopupOnEnter')" ng-change="search()"/>
                                        </md-input-container>
                                    </div>

                                    <div class="interface" ng-if="filter.type == 'range'" >

                                        <span layout="row" class="md-block">

                                             <md-input-container class="md-no-label md-no-message md-block filter-range-min">

                                                <label>{{::filter.label}}</label>
                                                <input
                                                    placeholder="{{::filter.placeholder[0]}}"
                                                    ng-model="filter.model['min']"
                                                    aria-label="{{::filter.label}}"
                                                    ng-model-options="{debounce: 400}"
                                                    ng-change="search()" />
                                             </md-input-container>


                                             <md-input-container class="md-no-label md-no-message md-block filter-range-max">

                                                <label>{{::filter.label}}</label>
                                                <input
                                                    placeholder="{{::filter.placeholder[1]}}"
                                                    ng-model="filter.model['max']"
                                                    aria-label="{{::filter.label}}"
                                                    ng-model-options="{debounce: 400}"
                                                    ng-change="search()" />
                                             </md-input-container>
                                        </span>
                                    </div>

                                    <div class="interface" ng-if="filter.type == 'date'" >

                                        <span class="md-block">
                                            <md-datepicker-container class="md-no-label md-no-message md-block">
                                                <label>{{::filter.label}}</label>
                                                <md-datepicker ng-model="filter.model" ng-change="dateSearch(filter)"></md-datepicker>
                                            </md-datepicker-container>
                                        </span>
                                    </div>

                                    <div class="interface interface-checkbox" ng-if="filter.type == 'checkbox'">
                                        <md-checkbox ng-change="search()" ng-model="filter.model" ng-true-value="'{{filter.checked}}'" ng-false-value="'{{filter.unchecked}}'" aria-label="Checkbox filter"></md-checkbox>
                                    </div>

                                </div>

                                <div ng-if="filter.isolate" class="filter isolate">

                                    <div class="filter-label"></div>

                                    <div class="interface">
                                        <md-checkbox ng-change="isolateSearch(filter)" ng-model="filter.isolate.enabled" ng-true-value="true" ng-false-value="false" aria-label="Checkbox filter"></md-checkbox>
                                        {{filter.isolate.label}}
                                    </div>
                                </div>
                            </div>

                            <md-button class="md-button md-raised md-accent search-button" ng-click="done()">Done</md-button>
                        </div>
                    </div>
                </div>



                <!--
                <md-button ng-click="toggleFilters()" md-no-ink class="md-icon-button md-icon-button-filters" aria-label="Search filters">
                    <div class="material-icons icon-collapsed" ng-show="extended_search">expand_more</div>
                    <div class="material-icons icon-expanded" ng-show="!extended_search">chevron_right</div>
                </md-button>
                -->
                <div class="backdrop" ng-show="extended_search" ng-click="toggleFilters()"></div>
            </div>

            <div class="top-actions">
                <md-button ng-repeat="action in options.topActions" ng-if="!action.more" ng-click="topActionsClick(action,$event)" class="md-raised" ng-class="{ 'md-accent': action.primary!==false }">{{action.label}}</md-button>
                <md-menu ng-if="(options.topActions | filter:{ more: true }).length > 0">
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button more">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="action in options.topActions" ng-if="action.more">
                            <md-button ng-click="action.click($event)">
                                <md-icon ng-if="action.icon">{{::action.icon}}</md-icon>
                                {{::action.label}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div class="infinite-records">
            <span ng-if="options.paging.infinite && numeric(paging.records)">{{paging.records}} results</span>
            <md-menu ng-show="order.name">
                ordered by <a href ng-click="$mdOpenMenu($event)" class="order-toggle">{{order.label}}</a>
                <md-menu-content>
                    <md-menu-item ng-repeat="order in options.orders">
                        <md-button ng-click="orderNameSelect(order)">
                            {{order.label}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <span ng-show="order.name">, <a href  ng-click="orderDirectionToggle($event)" class="order-toggle">{{orderDirections[order.direction]}}</a></span>
        </div>
    </div>
    <div class="results" ng-if="options.columns.length">
        <div class="progress-paged ng-hide" ng-show="loading && !options.paging.infinite">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="lister-table">
            <div class="lister-head">
                <div class="lister-row">
                    <div class="lister-col lister-col-header" ng-if="options.sort"></div>
                    <div class="lister-col lister-col-header lister-select-toogle" ng-if="options.selection">

                        <md-checkbox ng-click="selectionsToggle(selectToogled);" ng-model="selectToogled"  ng-true-value="true" aria-label="Toggle Selection" class="select-checkbox"></md-checkbox>
                        <md-menu md-offset="6 32">
                            <md-button aria-label="Select" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon>arrow_drop_down</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="action in options.selection.actions">
                                    <md-button ng-click="selectMenu(action.click,$event)">
                                        <md-icon ng-if="action.icon">{{::action.icon}}</md-icon>
                                        {{::action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div class="lister-col lister-col-header {{::column.className}}" ng-repeat="column in options.columns" ng-style="styleCols[$index]" ng-class="{ order: column.order }" ng-click="headerClick(column)">

                        <div class="wrap">
                            <span fs-lister-compile="column.title" fs-column="column" class="title"></span>

                            <div class="direction" ng-if="column.order">
                                <span ng-switch="order.direction" ng-show="order.name==column.order.name">
                                    <md-icon ng-switch-when="asc">arrow_downward</md-icon>
                                    <md-icon ng-switch-when="desc">arrow_upward</md-icon>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="lister-col lister-col-header" ng-if="options.actions.length || options.action">
                    </div>
                </div>
            </div>
            <div class="lister-body" sv-root sv-part="data" sv-on-sort="sortStop($item,$partTo,$indexFrom,$indexTo)">
                <div class="lister-row" sv-element="{ containment:'.lister-body'}" ng-class="{ selected: checked[rowIndex] }" ng-repeat="item in data" ng-click="options.rowClick(item,$event); $event.stopPropagation();" ng-init="rowIndex = $index">
                    <div class="lister-col lister-col-sort" ng-if="options.sort"><div class="sort-handle"><md-icon>drag_handle</md-icon></div></div>
                    <div class="lister-col" ng-if="options.selection">
                        <md-checkbox ng-model="checked[rowIndex]" ng-true-value="1" ng-click="select(item)" aria-label="Select" class="select-checkbox"></md-checkbox>
                    </div>
                    <div class="lister-col {{::col.className}}" ng-repeat="col in options.columns" fs-lister-compile="dataCols[item.$$index][$index]" fs-column="col" fs-data="item" ng-style="styleCols[$index]"></div>
                    <div class="lister-col lister-actions" ng-if="options.action">
                        <md-button ng-click="actionClick(options.action,item,$event); $event.stopPropagation();" class="md-icon-button">
                            <md-icon class="material-icons">{{::options.action.icon}}</md-icon>
                        </md-button>
                    </div>
                    <div class="lister-col lister-actions" ng-if="options.actions.length">
                        <md-menu ng-if="actionsShow(item)">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                                <md-icon class="md-default-theme material-icons">more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-if="action.show(item)" ng-repeat="action in options.actions">
                                    <md-button ng-click="actionClick(action,item,$event)">
                                        <md-icon class="material-icons" ng-if="action.icon">{{::action.icon}}</md-icon>
                                        {{::action.label}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="status" ng-if="options.paging.infinite">
            <div class="norecords ng-hide" ng-show="!loading && options.norecords && !data.length">{{::options.norecords}}</div>
            <div class="progress-infinite ng-hide" ng-show="loading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
    <div class="paging" ng-if="options.paging.enabled && !options.paging.infinite" layout="row">
        <div class="records">
            <label>Total</label>
            <div>{{paging.records}} Records</div>
        </div>
        <div flex>
            <ul class="pages" ng-if="paging.pages>1 && options.paging.pages">
                <li ng-class="{ disabled : paging.page == 1 }">
                    <a href="javascript:;" ng-click="page(1)">&laquo;</a>
                </li>
                <li ng-class="{ disabled : paging.page == 1 }" class="ng-scope">
                    <a href="" ng-click="page(paging.page - 1)" class="ng-binding">‹</a>
                </li>
                <li ng-repeat="number in [] | listerRange:paging.pages:paging.page" ng-class="{ active : paging.page == (number + 1), disabled : number == '...' }">
                    <a href="" ng-click="page(number + 1)">{{ number + 1}}</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }" class="ng-scope">
                    <a href="" ng-click="page(paging.page + 1)" class="ng-binding">›</a>
                </li>
                <li ng-class="{ disabled : paging.page == paging.pages }">
                    <a href="" ng-click="page(paging.pages)">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="limits">
            <md-input-container>
                <label>Show</label>
                <md-select ng-model="options.paging.limit" md-on-close="reload()">
                    <md-option ng-repeat="limit in options.paging.limits" value="{{limit}}">
                        {{::limit}} records
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>

