<div><a href ng-click="load()">Load()</a></div>
<div><a href ng-click="reload()">Re-Load()</a></div>
<div><a href ng-click="modal()">Open Modal()</a></div>
<div><a href ng-click="data()">Data()</a></div>
<div><a href ng-click="setFilter()">setFilter()</a></div>
<div><a href ng-click="newFilters()">New Filters()</a></div>
<div><a href="#/page">Another Page</a></div>
<div><a href ng-click="broadcastReload()">Broadcast Reload</a></div>
<div><a href ng-click="getInstance()">Get Instance</a></div>

<pre ng-show="getInstanceObject">{{getInstanceObject}}</pre>


<!-- <fs-lister ls-options="listerConf" ls-instance="listerInstance" ls-sort></fs-lister> -->

<!-- <div id="frame" style="height:600px; overflow-y:auto">
	<fs-lister ls-options="listerConf" ls-instance="listerInstance"></fs-lister>
</div> -->

<fs-lister ls-options="listerConf" ls-sort></fs-lister>


<style>

.center {
	text-align: center;
	color: pink;
}
</style>