<div><a href ng-click="load()">Load()</a></div>
<div><a href ng-click="reload()">Re-Load()</a></div>
<div><a href ng-click="modal()">Open Modal()</a></div>
<div><a href ng-click="data()">Data()</a></div>
<div><a href ng-click="newFilters()">New Filters()</a></div>
<div><a href="#/page">Another Page</a></div>

<!-- <fs-lister ls-options="listerConf" ls-instance="listerInstance" ls-sort></fs-lister> -->

<!-- <div id="frame" style="height:600px; overflow-y:auto">
	<fs-lister ls-options="listerConf" ls-instance="listerInstance"></fs-lister>
</div> -->

<fs-lister ls-options="listerConf" ls-instance="listerInstance"></fs-lister>


<style>

.center {
	text-align: center;
	color: pink;
}
</style>