<a href class="md-button md-raised md-accent" ng-click="load()">Load()</a>
<a href class="md-button md-raised md-accent" ng-click="reload()">Re-Load()</a>
<a href class="md-button md-raised md-accent" ng-click="modal()">Open Modal()</a>
<a href class="md-button md-raised md-accent" ng-click="data()">Data()</a>
<a href class="md-button md-raised md-accent" ng-click="setFilter()">setFilter()</a>
<a href class="md-button md-raised md-accent" ng-click="newFilters()">New Filters()</a>
<a href class="md-button md-raised md-accent" ng-click="clear()">Clear()</a>
<a href class="md-button md-raised md-accent" ng-click="clearData()">Clear Data()</a>
<a href class="md-button md-raised md-accent" ng-click="clearFilters()">Clear Filters()</a>
<a href="#/page" class="md-button md-raised md-accent">Another Page</a>
<a href class="md-button md-raised md-accent" ng-click="broadcastReload()">Broadcast Reload</a>
<a href class="md-button md-raised md-accent" ng-click="getInstance()">Get Instance</a>
<a href class="md-button md-raised md-accent" ng-click="toggleAction()">Toggle Action</a>
<a href class="md-button md-raised md-accent" ng-click="selectionGets()">Selection Gets</a>
<br><br>
<pre ng-show="getInstanceObject">{{getInstanceObject}}</pre>


<!-- <fs-lister ls-options="listerConf" ls-instance="listerInstance" ls-sort></fs-lister> -->

<!-- <div id="frame" style="height:600px; overflow-y:auto">
	<fs-lister ls-options="listerConf" ls-instance="listerInstance"></fs-lister>
 -->

<fs-lister ls-options="listerConf"></fs-lister>


<style>

.center {
	text-align: center;
	color: pink;
}
</style>