<div layout-padding>
	<md-input-container>
	    <label>State</label>
	    <md-select ng-model="someModel">
	        <md-option>option 1</md-option>
	        <md-option>option 2</md-option>
	        <md-option>option 3</md-option>
	        <md-option>option 4</md-option>
	    </md-select>
	</md-input-container>

	<br>

	<div>
	    <md-button ng-click="cancel()" class="md-raised md-primary">
	       Cancel
	    </md-button>

	    <md-button ng-click="move()" class="md-raised md-primary">
	       Move
	    </md-button>
	</div>


</div>